{% extends 'base.html' %}

{% block title %}
  Add Blog
{% endblock %}

{% block body %}
    <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 shadow p-3 bg-dark rounded">
                <h3 class="text-center">Add Blog Post</h3>
                <form method="POST" class='form-register'>
                    <div class="form-labels">
                        {{form.hidden_tag()}}
                        {{form.title.label()}}
                        {{form.title(class='form-control', placeholder='Title')}}
                        <br>
                        {{form.content.label()}}
                        {{form.content(class='form-control',rows=5, placeholder='Content')}}
                        <br>
                        
                        {% include 'includes/confirm_add_post.html' %}
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addblog">
                                Add Blog
                            </button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
        {{ckeditor.load()}}
        {{ckeditor.config(name='content')}}
    <br />
{% endblock %}
