{% extends 'base.html' %}

{% block title %}
  Add User
{% endblock %}

{% block body %}
    <br />
    <div class="shadow p-3 mb-5 bg-dark rounded">
        <h3 class="text-center">Register User</h3>
        <form method="POST" class='form-register'>
            <div class="form-labels">
                {{form.hidden_tag()}}
                {{form.name.label()}}
                {{form.name(class='form-control', placeholder='User Name')}}
                <br>
                {{form.email.label()}}
                {{form.email(class='form-control', placeholder='Email Address')}}
                <br>
                <div class="form-group text-center">
                    {{ form.submit(class = 'btn btn-success') }}
                </div>
            </div> 
        </form>
    </div>
    <br />
    <br />
    <br />
    <h3 class="text-center">User List</h3>
    <table class="table table-hover table-dark table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date-Added</th>
            </tr>
        </thead>
        <tbody>
            {% for user in curr_users %}
                <tr>
                    <td>{{ user.id }}</td>  
                    <td><a href="{{url_for('update',id=user.id)}}">{{ user.name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_added }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
