{% extends 'base.html' %}

{% block title %}
  Add Blog
{% endblock %}

{% block additional_links %}
  <link rel="stylesheet" href="{{url_for('static',filename='css/add_post.css')}}">
{% endblock %}

{% block body %}
    <br>
    <form method="POST" class='form-register'>
        <div class="row gx-1">
            <div class="col-md-2 text-center bg-dark shadow-lg">
                <h4 style="padding: 5% 0 5% 0; font-family: Monocraft;">General</h4>
                <div class="radio-buttons">
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Miscellaneous" checked>
                                <span class="radio-btn">
                                    Miscellaneous
                                </span>
                              </label>
                        </div>
                        <br>
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Adventure">
                                <span class="radio-btn">
                                    Adventure
                                </span>
                              </label>
                        </div>
                        <br>
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Sports">
                                <span class="radio-btn">
                                    Sports
                                </span>
                            </label>
                        </div>
                        <br>
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Rant">
                                <span class="radio-btn">
                                    Rant
                                </span>
                              </label>
                        </div>
                        <br>    
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Fashion">
                                <span class="radio-btn">
                                    Fashion
                                </span>
                              </label>
                        </div>
                        <br>    
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Question">
                                <span class="radio-btn">
                                    Question
                                </span>
                              </label>
                        </div>
                        <br>    
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Manipal">
                                <span class="radio-btn">
                                    Manipal
                                </span>
                              </label>
                        </div>
                        <br>
                  </div>
            </div>
            <div class="col-md-8 shadow-lg p-3 bg-dark">
                <br>
                <h3 class="text-center">Add Blog Post</h3>
                <div class="form-labels">
                    {{form.hidden_tag()}}
                    {{form.title.label()}}
                    {{form.title(class='form-control', placeholder='Title')}}
                    <br>
                    {{form.content.label()}}
                    {{form.content(class='form-control',rows=5, placeholder='Content')}}
                    <br>
                    
                    {% include 'includes/AddBlogModal.html' %}
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addBlog">
                            Add Blog
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center bg-dark shadow-lg">
                <h4 style="padding: 5% 0 5% 0; font-family: Monocraft;">Coding</h4>
                <div class="radio-buttons">
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Web Development">
                                <span class="radio-btn">
                                    Web Development
                                </span>
                              </label>
                        </div>
                        <br>
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="DSA">
                                <span class="radio-btn">
                                    DSA
                                </span>
                              </label>
                        </div>
                        <br>
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Python">
                                <span class="radio-btn">
                                    Python
                                </span>
                            </label>
                        </div>
                        <br>
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Open Source">
                                <span class="radio-btn">
                                    Open Source
                                </span>
                              </label>
                        </div>
                        <br>    
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Networking">
                                <span class="radio-btn">
                                    Networking
                                </span>
                              </label>
                        </div>
                        <br>    
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Databases">
                                <span class="radio-btn">
                                    Databases
                                </span>
                              </label>
                        </div>
                        <br>    
                        <div class="card">
                            <label>
                                <input type="radio" name="radio" value="Testing">
                                <span class="radio-btn">
                                    Testing
                                </span>
                              </label>
                        </div>
                        <br>
                  </div>
            </div>
        </div>
    </form>
    {{ckeditor.load()}}
    {{ckeditor.config(name='content')}}
    <br />
{% endblock %}
