{% extends 'base.html' %}

{% block title %}
  Forgot Password
{% endblock %}

{% block body %}
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="shadow p-3 mb-5 bg-dark rounded">
                    <h2 class="text-center">Enter Details</h2>
                    <form method="POST" class='form-register'>
                        <div class="form-labels">
                            {{form.hidden_tag()}}
                            {{form.username.label()}}
                            {{form.username(class='form-control', placeholder='User Name')}}
                            <br>
                            {{form.email.label()}}
                            {{form.email(class='form-control', placeholder='Email')}}
                            <br>
                            <br>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">
                                    {{form.recaptcha(class='form-control', placeholder='Recaptcha')}}
                                </div>
                                <div class="col"></div>
                            </div>
                            <br>
                            <div class="form-group text-center">
                                {{ form.submit(class = 'btn btn-success') }}
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <br />
    <br />
    <br />
{% endblock %}
