{% extends 'base.html' %}

{% block title %}
  Post
{% endblock %}

{% block body %}

    <h1 class"text-left">Blogs</h1>
    <br>
    <div class="card bg-dark">
        <div class="card-header">
            {{ post.title }}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ post.content }}</p>
            <footer class="blockquote-footer"> <cite title="Author name">{{ post.author }}</cite> added on {{ post.date_added }}</footer>
          </blockquote>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4 text-center">
        <a href="{{url_for('posts')}}" class="btn btn-outline-secondary" ><i class='fas fa-angle-left'></i> All Posts</a>
      </div>
      <div class="col-md-4 text-center">
        <a href="{{url_for('edit_post',id=post.id)}}" class="btn btn-outline-warning"> Edit</a>
      </div>
      <div class="col-md-4 text-center">
        <a href="{{url_for('delete_post',id=post.id)}}" class="btn btn-outline-danger"> Delete</a>
      </div>
    </div>
    
    <br>
    
{% endblock %}
